$main-bg: #405cf5;
$product-border: rgb(50 151 211 / 30%);

$element-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
$element-shadow-focus: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
  $product-border 0 0 0 4px;

$input-placeholder: rgba(50, 151, 211, 0.3);

$base-text: #090c11;

$modal-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);

$overlay: rgb(6 13 1 / 65%);
